body {
  background: #f2f2f2;
}

.header {
  width: 80%;
  margin: 0 auto;
}

code {
  background: #00ff00;
  padding: 2px 2px;
  border: 1px solid #000000;
  margin: 0px 2px;
}

.logo img {
  width: 150px;
  height: 80px;
}

.bdy {
  width: 80%;
  margin: 0 auto;
}

.title {
  background: #f2f2f2;
  width: 100%;
}

.title input {
  background: #f2f2f2;
  height: 70px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #000000;
  font-size: 50px;
  width: 100%;
  padding: 2px 15px;
}

.story {
  width: 100%;
  margin: 5px 0;
  padding: 15px;
  background: #f2f2f2;
  height: 50px;
  font-family: alegreya-italic, sans-serif;
  line-height: 2em;
}

blockquote {
  border-left: black 3px solid;
  padding-left: 16px;
  margin-left: 16px;
  line-height: 2em;
  font-style: italic;
  display: inline-block;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.group {
  clear: both;
  display: table;
  content: '';
}

div:hover, div:active, div:focus {
  outline: none;
}

/*div:hover, div:active, div:focus {
  outline: none;
}*/

.toolbar-wrap {
  display: block;
}

.toolbar-wrap button {
  border: none;
  color: #f2f2f2;
  background: #191717;
  display: inline-block;
  cursor: pointer;
  float: left;
  padding: 10px 20px;
}

.toolbar-wrap button:first-child {
  border-radius: 5px 0px 0px 5px;
}

.toolbar-wrap button:last-child {
  border-radius: 0px 5px 5px 0px;
}

.toolbar-wrap button:hover {
  background: #000000;
}

.prompter[placeholder]:empty:before {
  content: attr(placeholder);
}
