body {
  background: #f2f2f2;
}

.header {
  width: 80%;
  margin: 0 auto;
}

code {
  background: #546e7a;
  border-radius: 3px;
  padding: 2px 10px;
  color: #030303;
  border: 1px solid #000000;
  margin: 0px 2px;
}

.logo img {
  width: 150px;
  height: 80px;
}

.bdy {
  max-width: 80%;
  margin: 0 auto;
}

.title {
  background: #f2f2f2;
  width: 100%;
}

.title input {
  background: #f2f2f2;
  height: 70px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #000000;
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
  width: 100%;
  padding: 2px 15px;
}

.story {
  width: 100%;
  margin: 5px 0;
  padding: 15px;
  background: #f2f2f2;
  height: 50px;
  /*font-family: alegreya-italic, sans-serif;*/
  font-size: 27px;
  font-family: 'Slabo 27px', serif;
  line-height: 2em;
}

img {
  display: block;
  margin: 5px auto;
}

blockquote {
  border-left: black 3px solid;
  padding-left: 16px;
  margin-left: 16px;
  line-height: 1.5em;
  font-style: italic;
  display: inline-block;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.group {
  clear: both;
  display: table;
  content: '';
}

.lefter {
  float: left;
}

.righter {
  float: right;
}

.buttons {
  margin: 35px 0px 25px 0px;
}

.buttons button {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f2f2f2;
  background-color: #030303;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px #999;
}

.buttons button:hover {
  background-color: #090909;
}

.buttons button:active {
  background-color: #020202;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

div:hover, div:active, div:focus {
  outline: none;
}

/*div:hover, div:active, div:focus {
  outline: none;
}*/

.toolbar-wrap {
  display: block;
}

.toolbar-wrap button {
  border: none;
  color: #f2f2f2;
  background: #191717;
  display: inline-block;
  cursor: pointer;
  float: left;
  padding: 10px 20px;
}

.toolbar-wrap button:first-child {
  border-radius: 5px 0px 0px 5px;
}

.toolbar-wrap button:last-child {
  border-radius: 0px 5px 5px 0px;
}

.toolbar-wrap button:hover {
  background: #000000;
}

.prompter[placeholder]:empty:before {
  content: attr(placeholder);
}
