.header {
	width: 100%;
}

.header-top {
	width: 100%;
	background-color: #7dd9e8;
}

.header-top-wrapper {
	width: 938px;
	margin: 0 auto;
	padding: 20px 0px 16px 0px;
}

.header-bottom {
	width: 100%;
	background-color: #f5f5f5;
}

.header-bottom-wrapper {
	width: 938px;
	margin: 0 auto;
	padding: 15px 0px 12px 0px;
}

.main-content {
	width: 100%;
}

.col3-layout {
	width: 938px;
	margin: 29px auto;
	background-image: url("../images/repeatbg.png");
	background-repeat: repeat-y;
}

.leftmost-col {
	width: 195px;
	background-color: #f5f5f5;
}

.middleright-col-wrapper {
	width: 718px;
	padding: 0px 0px 0px 24px;
}

.middle-col {
	width: 518px;
	padding-right: 24px;
}

.rightmost-col {
	width: 176px;
	background-color: #f5f5f5;
}

.footer {
	width: 100%;
	background-color: #727272;
}

.footer-wrapper {
	width: 938px;
	margin: 0 auto;
}

.footer-wrapper {
	width: 938px;
	margin: 0 auto;
}

/*@media only screen and (max-width: 500px) {


	.header-top-wrapper{
		width: 100%;
		padding: 3px;
	}

	.header-bottom-wrapper {
		width: 100%;
		padding: 3px;
	}

	.col3-layout {
		width: 100%;
	}

	.leftmost-col {
		width: 100%;
		display: none;
	}

	.middleright-col-wrapper {
		width: 100%;
	}

	.middle-col {
		width: 100%;
	}

	.rightmost-col {
		margin-top: 10px;
		width: 100%;
	}

	.footer-wrapper {
		width: 100%;
		padding: 3px;
	}
}*/